.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 8%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 8%
    right: 6%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 27%
    @media(max-width: 1200px)
      display: none
@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translatex(0px)

@media (min-width: 576px) 
  .banner-principal__img 
    padding-top: 1rem !important
   
.banner-principal .tarjeta   
  background-image: url(../assets/curso/portada/fondo-banner-principal-s.svg) !important
  background-repeat: no-repeat      
  background-position: bottom center
  background-size: cover
  @media (min-width: 768px) and (max-width:992px)
    background-image: url(../assets/curso/portada/fondo-banner-principal-m.svg) !important    
  @media(min-width: 992px)
    background-image: url(../assets/curso/portada/fondo-banner-principal.svg) !important    

.banner-interno__fondo
  background-image: url(../assets/curso/portada/fondo-banner.svg)  !important  

.slyder-a__bullets__item 
  @media (max-width: $bp-max-xs)
    margin: 0 5px    

.banner-principal__row .banner-principal__img 
    padding-right: 1.5rem !important
.img-11
  width: 11px
.img-298
  max-width: 241px
  max-height: 298px
  margin: auto

.img-l
  @media (max-width: 576px) 
    display: none
.fnd-
  padding: 2rem
  &-1
    background-color: #DED6FD !important   
    border-radius: 1.5rem 0 0 1.5rem 
  &-2    
    background-color: #F6F4FE !important  
    border-radius: 0 1.5rem 1.5rem 0 
  &-3
    background-color: #CEF1CE !important   
    border-radius: 1.5rem 0 0 1.5rem 
  &-4    
    background-color: #F2FBF2 !important  
    border-radius: 0 1.5rem 1.5rem 0     
  @media (max-width: $bp-max-md)
    &-1, &-2, &-3, &-4 
      border-radius: 1.5rem
      margin-bottom: 3rem

.fnd-2
  background-color: #D8F263 !important  
  padding-left: 1rem
  padding-right: 1rem
  &-1
    border-radius: 0 1rem 0 0
    padding: 0.3rem 1.5rem
  &-2
    border-radius: 1rem
    padding: 0.3rem 1.5rem
.fnd-3
  background-color: #F6F4FE !important  
  padding: 2rem
.fnd-4     
  background-color: #E6F8E6
  border-radius: 10px
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-content: center
  align-items: center
  p 
    text-align: center
  p::first-letter 
    text-transform: uppercase
  h5 
    color: white
    background-color: #426E42
    padding: 0.3rem 1rem 0.3rem 1rem
    margin-bottom: 0   
  h1
    color: red 
    //#CEF1CE
    font-size: 100px !important
    margin-bottom: 0
    line-height: 0.8
    text-align: left !important
.fnd-4-    
  background-color: #F2FBF2
  border-radius: 10px
  display: flex
  flex-wrap: wrap
  h1
    color: #CEF1CE
    font-size: 100px !important
    margin-bottom: 0
    line-height: 0.9
    text-align: left !important
.fnd-5
  background-color: #E6F8E6
  padding: 2rem     
  &-1
    border-radius: 1rem
.fnd-6
  background-color: #EEEAFE !important 
  @media (max-width: 768px) 
    figure
      margin-bottom: 1rem
.fnd-7
  background-color: #F2FBF2 !important  
  &-1
    padding: 2rem
    background-color: #E6F8E6
    border-radius: 1rem
.fnd-8   
  background: url('../assets/curso/temas/tema1/fnd-2.svg') no-repeat left top
  background-size: cover

  border-radius: 20px 
  &-1
    background-color: #ffffff
    border-radius: 20px 
  &-2
    background: url('../assets/curso/temas/tema1/fnd-3.svg') no-repeat left top    
    background-size: cover
  &-3
    background: url('../assets/curso/temas/tema4/fnd-2.svg') no-repeat left top    
    background-size: cover
    padding: 2rem
.fnd-9
  background-color: #CEF1CE
.fnd-10  
  background-color: #FEF3EA !important
.fnd-11
  background-color: #FCC59A !important  
  &::before
    background-color: #DED6FD !important
.fnd-12    
  background-color: #EEEAFE !important
.fnd-44     
  background-color: #E6F8E6
  border-radius: 10px
  align-content: center
  figure
    img
      margin-left: 0
  p 
    text-align: left
  p::first-letter 
    text-transform: uppercase
  h5 
    color: white
    background-color: #426E42
    padding: 0.3rem 1rem 0.3rem 1rem
    margin-bottom: 0   
    display: inline-block

.img-tar
  max-height: 80px
.img-tar1
  max-width: 98px  
.tbl    
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%  
  td
    border: 2px solid #FCC59A !important
    text-align: center    
    background-color: #ffffff 
  thead 
    td    
      background-color: #FEF8F4
      font-weight: bold
.tbl1
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%
    border-bottom: 2px solid #567D56 
  td
    background-color: #fff
  th:nth-child(2) 
    background-color: #E6F8E6
    border: 2px solid #567D56 
    text-align: center
  th:nth-child(3) 
    background-color: #EEEAFE 
    border: 2px solid #567D56   
    text-align: center
  td:nth-child(1) 
    border-left: 2px solid #567D56 
    border-right: 2px solid #567D56 
    background-color: #ffffff !important
  td:nth-child(2) 
    border-left: 2px solid #567D56 
    border-right: 2px solid #567D56 
    text-align: center
  td:nth-child(3) 
    border-left: 2px solid #567D56 
    border-right: 2px solid #567D56 
    text-align: center
  td:nth-child(4) 
    background-color: #DED6FD
  td:nth-child(5) 
    background-color: #CEF1CE
  tr:nth-child(1) 
    td
      border-top: 2px solid #567D56
.tbl2
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%
  td
    background-color: #fff
    padding: 1rem
    border: 2px solid #567D56 
  td:nth-child(1) 
    width: 25%
  td:nth-child(2) 
    width: 22%
  td:nth-child(3) 
    width: 22% !important
  td:nth-child(4) 
    width: 22% !important
.tbl3
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%
    text-align: center
    border: 2px solid #567D56 
  th    
    border: 2px solid #567D56 
    font-weight: bold   
  th:nth-child(2) 
    background-color: #E6F8E6
  th:nth-child(3) 
    background-color: #EEEAFE 
    border: 2px solid #567D56   
  td
    background-color: #fff
    padding: 1rem
    
  td:nth-child(1) 
    border-right: 2px solid #567D56   
    border-left: 2px solid #567D56   
  td:nth-child(2) 
    border-right: 2px solid #567D56   
    border-left: 2px solid #567D56   
  td:nth-child(3) 
    border-right: 2px solid #567D56   
    border-left: 2px solid #567D56   
.tbl4
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%
    text-align: center
    border: 2px solid #567D56 
  th    
    border: 2px solid #567D56 
    font-weight: bold   
  th:nth-child(1) 
    background-color: #E6F8E6
  th:nth-child(2) 
    background-color: #EEEAFE 
    border: 2px solid #567D56   
  td
    background-color: #fff
    padding: 1rem  
  td:nth-child(1) 
    border-right: 2px solid #567D56   
    border-left: 2px solid #567D56   
  td:nth-child(2) 
    border-right: 2px solid #567D56   
    border-left: 2px solid #567D56   
.tbl5    
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%  
  td
    border: 2px solid #FCC59A !important
    text-align: center    
    background-color: #ffffff 
  thead 
    td
      font-weight: bold  
  .tt
    background-color: #FDE7D6 
  .ttt
    td
      background-color: #FEF8F4     
.tbl5-
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%  
  td
    border: 2px solid #FCC59A !important
    text-align: center    
    background-color: #ffffff 
  thead 
    th
      border: 2px solid #FCC59A !important
      text-align: center    
      font-weight: bold  
      background-color: #FDE7D6     
.tbl6   
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%  
    border: 2px solid #567D56   
  td
    background-color: #ffffff 
    border-right: 2px solid #567D56  
    padding: 1rem 2rem 
  thead 
    th
      font-weight: bold  
      background-color: #E6F8E6
      border: 2px solid #567D56 
      padding: 1rem 2rem   
.tbl7
  table
    overflow-x: auto
    min-width: 560px 
    width: 100%  

  tbody
    td
      background-color: #ffffff 
      padding: 1rem 2rem 
      text-align: center
      border: 2px solid #567D56   
  td[colspan="5"]
    border: 2px solid #567D56    
    text-align: left
  thead 
    th
      font-weight: bold  
      padding: 1rem 2rem         
      text-align: center
  td:nth-child(2), td:nth-child(3) 
    background-color: #F6F4FE !important    
  td:nth-child(4), td:nth-child(5) 
    background-color: #FEF3EA !important
  th:nth-child(2)
    background-color: #F6F4FE !important
    border: 2px solid #567D56  !important   
  th:nth-child(3) 
    background-color: #FEF3EA !important   
    border: 2px solid #567D56  !important   
  
.ttn
  border-top: 0px solid #567D56  !important
  border-left: 0px solid #567D56 !important
$crd-icon-size: 85px
$crd-padding: 1.5rem
$crd-width: calc(100% - ((#{$crd-icon-size} / 2))) 

.crd_02 
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center 
  padding: 1.5rem 1.5rem 1.5rem 0   
  z-index: 1
  height: auto

  @media (min-width:1200px) and (max-width:1400px)  
    height: 250px 
  &-1
    padding: 0.5rem 1.5rem 0.5rem 0   
    &::before      
      background-color: #FEF3EA !important 
  &-2
    padding: 0.5rem 1.5rem 0.5rem 0   
    &::before      
      background-color: #F2FBF2 !important       
  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: $crd-width
    height: 100%    
    background-color: #F3F1FB
    border-radius: 15px
    z-index: -1
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    margin-right: 15px
    img   
      width: $crd-icon-size
  &__txt
    flex: 1 
    order: 2          
.nutrition-box.nn
  background: url('../assets/curso/temas/tema1/fnd-4.svg') no-repeat left bottom !important
  background-size: cover !important
  margin-top: 2rem !important
  .pepper
    top: initial !important
    bottom: 0px
    transform: translateY(0%)
    width: 260px
    
  .cont
    margin-left: 3%
    margin-right: 25% !important

  @media (min-width: 1200px)  
    .cont
      margin-right: 25% !important
  @media (min-width: 768px) and (max-width: 1200px)   
    .cont
      margin-right: 35% !important
  @media (max-width: 576px) 
    .cont    
      margin-right: 0px !important
    .pepper
      display: none !important   
.bck-1
  background: url('../assets/curso/temas/tema4/fnd-1.svg') no-repeat left bottom !important
.nutrition-box.nn1
  background: url('../assets/curso/temas/tema3/fnd-1.svg') no-repeat left bottom 
  background-size: cover !important
  margin-top: 2rem !important
  .pepper
    top: initial !important
    bottom: 0px
    transform: translateY(0%)
    width: 260px
    
  .cont
    margin-left: 3%
    margin-right: 25% !important

  @media (min-width: 1200px)  
    .cont
      margin-right: 38% !important
  @media (min-width: 768px) and (max-width: 1200px)   
    .cont
      margin-right: 46% !important
  @media (max-width: 576px) 
    .cont    
      margin-right: 0px !important
    .pepper
      display: none !important   

.nutrition-box 
  position: relative
  background: url('../assets/curso/temas/tema1/fnd-1.svg') no-repeat left top
  background-size: cover
  padding: 20px
  border-radius: 20px 0 20px 0
  .cont
    position: relative
    z-index: 1
    margin-right: 43%

  .cont
    margin-right: 43% !important
  .pepper
    position: absolute
    right: 20px
    width: 300px
    z-index: 2
    display: initial !important
    transform: translateY(-50%)
    top: 50%

  @media (min-width: 1200px)  
    .cont
      margin-right: 35% !important
  @media (min-width: 768px) and (max-width: 1200px)   
    .cont
      margin-right: 50% !important
  @media (max-width: 576px) 
    .cont    
      margin-right: 0px !important
    .pepper
      display: none !important     
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: #87DE87  
.slyder-a__bullets__item 
    background-color: #E2DCFE
.slyder-a__bullets__item--active 
    background-color: #AC9AFC 
    border-color: #AC9AFC  
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-image: url(../assets/curso/temas/tema1/arrow.svg)      
.tabs-a__tab__selected
  background-color: #AC9AFC !important
  color: #fff !important
  &:before 
    background-color: #AC9AFC
.tabs-a__tab
    background-color: #87DE87
.lista-ol--cuadro__vineta
   background-color: #87DE87 !important  

.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important  
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
      background-color: #DED6FD
  .crd_hover_txt--img
    height: 400px 
  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #AC9AFC
    h5
      text-align: center
    @media (max-width: 576px) 
      padding: 1rem

  @media (min-width:1200px) 
    .crd_hover_txt--body
       padding: 0.6rem 1.5rem !important

  @media (min-width: 992px) and (max-width: 1200px) 
    .crd_hover_txt--body
      padding: 0.6rem 1.5rem !important